*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
nav{
    display: flex;
    margin: auto;
    padding: 20px 0;
    justify-content: space-between;
    position: sticky;
    flex-direction: row;
    width: 84%;
    top: 0%;
}
.logo img{
    height: 80px;
    border-radius: 40px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}
nav ul li a{
    text-decoration: none;
    color:#000;
 font-weight: bold;   
 transition: 0.2s ease;
}
nav ul li a:hover{
    color: goldenrod;
}
.img{
display: flex;
}
.img img{
    width:360px;
    height: auto;
    /* margin-top: 1%; */
    margin: 3%;
    border-radius:30px;
    transition: 0.2s ease;
    cursor: pointer;
}
.img img:hover{
    transform: scale(1.1);
}
.title h1{
    text-align: center;
    color: gold;
    margin-top: 15%;
}
.title h4{
    text-align: center;
    margin-top:1%;
    color: goldenrod;
}
.title{
    margin: 70px;
}
.title p{
    margin-top: 2%;
    text-align: center;
}
